		
		
		
		<div class="footer">
			<div class="container">
				<div class="row-flex _center">
					<div class="nm-col-3-12 md-col-1 md-offset-1-3 sm-col-1-2 col-1 _left">
						<p class="footer-description">Магазин компьютерной техники</p>
						<p class="footer-logo">АртКом</p>
						<p class="footer-copyright">© 2020 ИП Касин А.Ю.</p>
					</div>
					<div class="nm-col-5-24 md-col-1-3 sm-col-1-2 col-1 _left">
						<p class="footer-headline">Адрес</p>
						<p>Россия, Брянская обл.<br>г. Сельцо, ул. Куйбышева,<br>д. 15, цокольный этаж</p>
					</div>
					<div class="nm-col-5-24 md-col-1-3 sm-col-1-2 col-1 _left">
						<p class="footer-headline">Режим работы</p>
						<p>ВТ-СБ: с 10ч до 19ч<br>Перерыв: с 14ч до 15ч<br>Выходные: ВС, ПН</p>
					</div>
					<div class="lg-col-2-12 nm-col-3-12 md-col-1-3  sm-col-1-2 col-1 _left">
						<p class="footer-headline">Контакты</p>
						<p>Email: <a href="mailto:info@artkom32.ru">info@artkom32.ru</a></p>
						<p class="footer-phone">8 920 837-48-70</p>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>